<nav>
  {{#link-to "index"}}Home{{/link-to}}
  {{#link-to 'products'}}Products{{/link-to}}
</nav>
<div class="wrapper">
  <h2>Coinbase API App</h2>
  <p>Just a simple API application built with Ember.js <span>(live feed coming soon)</span> </p>
</div>
{{outlet}}
